@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --primary-color: #7A5C44;  /* Earthy Brown */
  --secondary-color: #D3A87C;  /* Warm Beige */
  --background-color: #F5F1E3;  /* Soft Cream */
  --accent-color: #4D3625;  /* Deep Brown */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
